<div id="list-post" class="list-post-<%= post.id %>">
  <div class="panel panel-default post" >
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <%= link_to gravatar_for(post.user,size: 500), post.user %><div class="  text-center"><%= post.user.full_name %></div>
          <div class="likes text-center"><%= post.comments.count %> comment</div>
        </div>
        <div class="col-sm-10">
          <div class="bubble">
            <div class="pointer">

              <h3><%= post.title %></h3>
              <p><%= post.content %></p>
            </div>
            <div class="pointer-border"></div>
          </div>
          <% if user_signed_in? %>
            <% if current_user == post.user %>
              <%= link_to "Edit", edit_post_path(post), class: "label label-success edit-post", data: {id: post.id}  %>
              <%= link_to "Delete", post, class: "label label-primary delete-post", data: {id: post.id}  %>
            <% end %>

          <p class="post-actions"></p>

            <% if current_user.following? post.user or current_user == post.user%>
              <div class="comment-form">
                <div class="form-group">
                  <%= form_for [post, post.comments.build] do |f| %>
                    <div class="form-group">
                      <%= f.text_field :content, autofocus: true, placeholder: "content", class: "form-control" %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="comment-form">
            <div class="form-group">
              <span class="timestamp">
                Posted <%= time_ago_in_words(post.created_at) %> ago.
              </span>
              <span>Tags:</span>
            <% post.tags.each do |thing| %>
              <%= link_to thing.name, thing, class: "label label-success"  %>
            <% end %>
            </div>
          </div>
        <div class="clearfix"></div>
          <div class="comments" id="list-comment">
            <%= render partial: "comments/comment", collection: post.comments, as: "comment" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
